body {
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.button-container {
  display: flex;
  gap: 10px;
}

.animated-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #6200ea;
  color: #fff;
}


@keyframes moveAnim{
  0%{transform: translateX(0px);}
  50%{transform: translateX(80px);}
  100%{transform: translateX(0px);}
}

@keyframes rotateAnim{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(180deg);}
  100%{transform: rotate(360deg);}
}

@keyframes scaleAnim{
  0%{transform: scale(1);}
  50%{transform: scale(1.5);}
  100%{transform: scale(1);}
}

@keyframes flicker{
  0%{opacity:1;}
  20%{opacity:0.5;}
  40%{opacity:1;}
  60%{opacity:0.5;}
  80%{opacity:1;}
  100%{opacity:0.5;}
}

/* single animations */
/* 2s - duration */
/* 0.2s - delay */
#button1:hover{
  animation: moveAnim 2s 0.2s infinite;
}
#button2:hover{
  animation: rotateAnim 2s 0.2s infinite;
}
#button3:hover{
  animation: scaleAnim 2s 0.2s infinite;
}
#button4:hover{
  animation: flicker 2s 0.2s infinite;
}

/* multiple animations */

#button5:hover{
  animation: flicker 2s 0.2s infinite,
            scaleAnim 2s 0.2s infinite;
}
#button6:hover{
  animation: rotateAnim 2s 0.2s infinite,
              flicker 2s 0.2s infinite;
}